:root {
  font-family: poppins, sans-serif;
  /* font-family: "", sans-serif; */
  background: linear-gradient(to right, #0d0d0d, #1b0f1f);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8rem;
  gap: 1.5rem;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: white;
}

.nav-logo {
  font-size: 1.8rem;
  font-weight: bold;
  background: linear-gradient(90deg, #00c6ff, #0072ff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  font-weight: bold;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #e5e7eb; /* Light gray for better contrast */
  padding: 8px 12px;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #00bcd4, #2979ff);
  transition: width 0.3s ease;
}

.nav-links a:hover {
  background: linear-gradient(90deg, #00bcd4, #2979ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* For Firefox */
  background-clip: text;
  color: transparent;
}

.nav-links a:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Responsive */
@media (max-width: 1200px) {
  .navbar {
    padding: 1rem 5rem;
  }

  .nav-links {
    font-size: 1.1rem;
  }
}

@media (max-width: 800px) {
  .navbar {
    padding: 1rem 1rem;
    justify-content: space-between;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 0 20px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    z-index: 999;
  }

  .nav-links.open {
    transform: translateX(0);
    opacity: 1;
  }

  .hamburger {
    display: flex;
  }
}

/* Home Section */
.home {
  width: 100%;
  min-height: 100vh;
  padding: 100px 10%;
  background-color: #0b0c10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  box-sizing: border-box;
}

.home-content {
  flex: 1;
  max-width: 600px;
}

.home-content h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-content h1 span {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.typing-text {
  font-size: 1.5rem;
  font-weight: 600;
  min-height: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 0.75s step-end infinite;
  /* background: linear-gradient(90deg, #00c6ff, #0072ff); */
  background: linear-gradient(90deg, #00c6ff, #0072ff);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.home-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #c5c6c7;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Social Links */
.social-links {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.social-links a {
  font-size: 1.75rem;
  color: #00bcd4;
  border-radius: 25%;
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  display: inline-flex;
  place-items: center;

  background-color: rgba(255, 255, 255, 0.1);

  box-shadow: 0 0 2px 2px rgba(4, 217, 255, 0.86);
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  cursor: pointer;
}

.social-links a:hover {
  transform: scale(1.2);
  box-shadow: 0 0 8px 4px rgba(4, 217, 255, 0.86);
  color: #00bcd4;
}

.home-buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.btn {
  padding: 10px 16px;
  background: #00bcd4;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  border-radius: 15px;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  border: 2px solid transparent;
  cursor: pointer;
}

.btn:hover {
  background: #121212;
  color: #fff;
  border-color: #0097a7;
  /* box-shadow: 0 0 10px #00bcd4, 0 0 20px #00bcd4; */
  box-shadow: 0 0 15px 6px rgba(0, 188, 222, 0.7);
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #00bcd4;
  color: #00bcd4;
  border-radius: 15px;
}

.btn-secondary:hover {
  background: #00bcd4;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 15px 6px rgba(0, 188, 222, 0.7);
}

.home-image {
  flex: 1;
  text-align: center;
  max-width: 400px;
  margin-top: 30px;
}

.home-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(102, 252, 241, 0.3);
  animation: bump 2.5s ease-in-out infinite;
  transition: transform 0.3s ease;

  border: 2px solid rgba(0, 198, 255, 0.9);
}

@keyframes bump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .home {
    flex-direction: column;
    padding: 80px 10%;
    text-align: center;
  }

  .home-content,
  .home-image {
    width: 100%;
    max-width: none;
  }

  .typing-text {
    margin: 0 auto;
  }

  .social-links {
    justify-content: center;
    margin-bottom: 20px;
  }

  .home-buttons {
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .btn {
    /* width: 100%;
    max-width:100px; */
    text-align: center;
  }
  .btn-secondary {
    /* width: 100%;
    max-width: 100px; */
    text-align: center;
  }
  .home-image img {
    max-width: 200px;
    margin: 0 auto;
  }
  .home-image {
    margin-top: 20px;
  }
}

/* Sections */
.about,
.skills,
.projects,
.certifications,
.contact {
  padding: 100px 8%;
  background: linear-gradient(to right, #0d0d0d, #1b0f1f);
  color: #ffffff;
}

/* .header-section {
  background: linear-gradient(to right, #17153b, rgb(60, 60, 140));
  background: #00bcd4;
} */

/* .header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: start;
  background: linear-gradient(90deg, #00bcd4, #2979ff);
  color: white;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
} */

/* .header-section {
  background: linear-gradient(to right, #17153b, rgb(60, 60, 140));
  width: 40%;
  padding: 5% 1%;
  border-radius: 0 50px 50px 0;
  text-align: center;
} */

.header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  background: linear-gradient(90deg, #00bcd4, #2979ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  background-color: white;
}

@media (max-width: 768px) {

  /* .header-section{
    width: ;
  } */

  .header {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

/* About Me Section */

.aboutme {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.about-container {
  flex: 1;
  max-width: 700px;
  align-items: start;
  text-align: left;
}

.about-description {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #c5c6c7;
}

.aboutme p {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #d1d1d1;
}

.aboutme a {
  color: #d1d1d1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.aboutme a:hover {
  color: #ffffff;
}

.home-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 16px;
  box-shadow: 0 0 10px 6px rgba(0, 188, 222, 0.4);
  transition: transform 0.3s ease;
  animation: bump 2.5s ease-in-out infinite;
}

.about-domain {
  margin-top: 60px;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.domain-card {
  background-color: #0b0c10;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0 10px 4px rgba(0, 188, 222, 0.4);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
}

.domain-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px 6px rgba(0, 188, 222, 0.5);
}

.domain-card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

@keyframes bump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .aboutme {
    flex-direction: column;
    text-align: center;
  }

  .about-description {
    font-size: 1rem;
  }

  .about-container {
    max-width: 100%;
    text-align: center;
  }

  .aboutme p {
    font-size: 1rem;
  }

  .domain-card {
    width: 100%;
    max-width: 300px;
  }

  .home-image img {
    width: 100%;
    max-width: 200px;
  }
}

/* Skills Section */

.skill-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px 0;
}

.icon-item {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  border: solid 2px hwb(186 0% 35%);
  padding: 10px 10px;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 15px 6px rgba(4, 217, 255, 0.86);
  text-align: center;
}

.icon-item p {
  padding-top: 4px;
  font-size: 1rem;
}

/* Hover effect */
.icon-item:hover {
  transform: scale(1.1);
  background-color: #00bcd4;
  color: #ffffff;
  box-shadow: 0 0 15px 6px rgba(4, 217, 255, 0.86);
}

/* 🔽 Responsive Styles Below 🔽 */

@media (max-width: 768px) {
  .skill-icon {
    gap: 40px;
  }

  .icon-item {
    width: 80px;
    font-size: 2.2rem;
    padding: 8px;
    box-shadow: 0 0 10px 4px rgba(4, 217, 255, 0.86);
  }

  .icon-item p {
    font-size: 0.9rem;
  }

  .icon-item:hover {
    box-shadow: 0 0 10px 4px rgba(4, 217, 255, 0.86);
  }
}

/* Mobile: Stack items tighter and reduce size */
@media (max-width: 480px) {
  .skill-icon {
    gap: 30px;
  }

  .icon-item {
    width: 70px;
    font-size: 2rem;
    padding: 6px;
    box-shadow: 0 0 8px 2px rgba(4, 217, 255, 0.86);
  }

  .icon-item p {
    font-size: 0.8rem;
  }

  .icon-item:hover {
    box-shadow: 0 0 8px 2px rgba(4, 217, 255, 0.86);
  }
}

/* projects and certification section */
.certifications-section,
.project-section {
  display: flex;
  margin-top: 40px;
  /* padding: 20px; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.project-card {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(0, 198, 255, 0.9);
  background: rgba(60, 60, 140, 0.25);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 0 10px 4px rgba(0, 188, 222, 0.4);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-card:hover {
  box-shadow: 0 0 20px 10px rgba(0, 198, 255, 0.5);
  transform: scale(1.1);
}

.card-top {
  width: 90%;
  height: 90%;
  position: relative;
  transition: transform 0.4s ease-in-out;
}

.project-card:hover .card-top {
  transform: translateY(-110%);
}

.card-bottom {
  position: absolute;
  top: 100%;
  width: 90%;
  height: 90%;
  background: rgba(20, 20, 40, 0.9);
  color: white;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  transition: top 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border: 1px solid rgba(0, 198, 255, 0.9);
}

.project-card:hover .card-bottom {
  top: 0;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.live-link,
.github-link {
  position: absolute;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 0 10px 4px rgba(0, 188, 222, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform-origin: center;
}

.live-link:hover,
.github-link:hover {
  transform: scale(1.2);
  box-shadow: 0 0 8px 4px rgba(4, 217, 255, 0.86);
}

.live-link {
  left: 10px;
}

.github-link {
  right: 10px;
}

.project-icon {
  font-size: 20px;
}

/* Tablet (<=768px) */
@media (max-width: 768px) {
  .project-card {
    height: 220px;
  }

  .card-bottom {
    padding: 15px;
  }

  .github-link {
    width: 28px;
    height: 28px;
    font-size: 0.9rem;
  }

  /* .project-card:hover {
    transform: scale(1);
  } */

  .project-icon {
    font-size: 18px;
  }
}

/* Mobile (<=480px) */
@media (max-width: 480px) {
  .certifications-section,
  .project-section {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 20px;
  }

  .project-card {
    height: 200px;
  }

  .card-top,
  .card-bottom {
    width: 95%;
    height: 95%;
  }
  /* .project-card:hover {
    transform: scale(1);
  } */

  .card-bottom {
    margin: 5px;
    padding: 12px;
    font-size: 0.9rem;
    /* padding-bottom: 5px; */
  }

  .project-icon {
    font-size: 16px;
  }
}

/* Certifications Section */
.certificate-card {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(0, 198, 255, 0.9);
  background: rgba(60, 60, 140, 0.25);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 0 10px 4px rgba(0, 188, 222, 0.4);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.certificate-card:hover {
  box-shadow: 0 0 20px 5px rgba(0, 198, 255, 0.5);
  transform: scale(1.05);
}

.certificate-card h3 {
  margin: 10px;
  font-size: 1.2rem;
  text-align: center;
  color: white;
}

.certificate-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  padding: 10px;
}

/* Tablet Screens */
@media (max-width: 768px) {
  .certificate-card {
    height: 220px;
  }

  .certificate-card h3 {
    font-size: 1.1rem;
  }

  .certificate-card:hover {
    transform: scale(1);
  }
  .certificate-image {
    padding: 8px;
  }
}

/* Mobile Screens */
@media (max-width: 480px) {
  .certificate-card {
    height: 200px;
    padding: 10px;
  }

  .certificate-card h3 {
    font-size: 1rem;
  }

  .certificate-card:hover {
    transform: scale(1);
  }

  .certificate-image {
    padding: 5px;
  }
}

/* contact form */
.contact {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  padding-top: 20px;
  padding-bottom: 10px;
  background: linear-gradient(to right, #17153b, rgb(60, 60, 140));
  border-radius: 100px 100px 0 0;
  color: #ffffff;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-item {
  display: "flex";
  align-items: "center";
  justify-items: start;
  gap: "8px";
  font-size: "1rem";
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: 20px;
}

.contact-me {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.contact-icon {
  padding: 10px;
  border-radius: 25%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #00bcd4;
  font-size: 2.5rem;
  border: 1px solid rgba(0, 188, 212, 0.4);
  display: inline-flex;
  place-items: center;
  box-shadow: 0 0 2px 2px rgba(4, 217, 255, 0.86);
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  cursor: pointer;
}

/* .contact-item h3 {
  margin-bottom: 5px;
  color: #00c6ff;
} */

.contact-item p {
  margin-bottom: 20px;
}

.form-container {
  max-width: 700px;
  width: 100%;
  padding: 15px 20px;
  border-radius: 15px;
  background: rgba(60, 60, 140, 0.25);
  border: 3px solid #00bfff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);

  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 16px;
  outline: none;
  resize: none;
  transition: border-color 0.3s ease;
}

textarea {
  height: 120px;
}

input:focus,
textarea:focus {
  border-color: #00bfff;
  border: 3px solid #00bfff;
}

input::placeholder,
textarea::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #999;
}

button {
  background-color: #00c6ff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #00bfff;
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(27, 27, 27, 0.8);
}

/* ------------------ Responsive Media Queries ------------------ */

/* Tablets (<=768px) */
@media (max-width: 768px) {
  .contact {
    padding: 0 5%;
    padding-top: 70px;
    padding-bottom: 20px;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-item {
    display: flex;
    flex-direction: column; /* stack vertically */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .form-container {
    max-width: 100%;
    padding: 15px;
  }

  .contact-info {
    flex: 1;
    padding: 20px;
    text-align: center;
  }

  input,
  textarea {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}

/* Mobile (<=480px) */
@media (max-width: 480px) {
  .contact {
    padding: 0 3%;
    padding-bottom: 20px;
    padding-top: 70px;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    padding: 10px;
    margin-bottom: 10px;
  }

  .contact-item {
    /* text-align: center; */
    display: flex;
    flex-direction: column; /* stack vertically */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact-info {
    flex: 1;
    padding: 15px;
    text-align: center;
  }
  input,
  textarea {
    font-size: 13px;
    padding: 10px;
  }

  textarea {
    height: 100px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
  color: white;
  background: linear-gradient(to right, #3c3c8c, #17153b);

  box-sizing: border-box;
  z-index: 10;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.footer-icon {
  color: red;
  vertical-align: middle;
}

/* Scroll-to-top button */
.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #00bcd4;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.3s ease;
}

.scroll-to-top:hover {
  transform: scale(1.15);
  background-color: rgba(0, 188, 212, 1);
}

/* -------- Responsive Media Queries -------- */

/* Tablets */
@media (max-width: 768px) {
  .footer {
    font-size: 14px;
    padding: 15px;
  }

  .scroll-to-top {
    width: 35px;
    height: 35px;
    font-size: 20px;
    right: 15px;
    bottom: 8px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .footer {
    font-size: 13px;
    padding: 12px;
    padding-left: 5px;
  }

  .scroll-to-top {
    width: 25px;
    height: 25px;
    font-size: 16px;
    right: 2px;
    bottom: 8px;
  }
}
